version: 2.1

orbs:
  newman: postman/newman@1.0.0

workflows:
  version: 2
  build-and-run:
    jobs:
      - build-and-run-demo
      - newman-collection-run-env-timeout:
          requires:
            - build-and-run-demo

jobs:
  build-and-run-demo:
    docker:
      - image: cimg/python:3.10

    steps:
      - checkout
      - run:
          name: Run Demo Script
          command: python demo.py

  newman-collection-run-env-timeout:
    executor: newman/postman-newman-docker
    steps:
      - checkout
      - newman/newman-run:
          collection: ./QADemo.postman_collection.json
          environment: ./QADemo.postman_environment.json
          # 60000 milliseconds = 60 seconds = 1 minute
          timeout: "60000"
